<h1>Log In Below:</h1>

<form method="post" action="/sessions">
    <label>Email: <input type="string" id="email" name="email"></label><br>
    <label>Password: <input type="string" id="password" name="password"></label><br>
    <input type="submit" value="Log In" id="Log In">
</form>