<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
    <label>Name: <input type="string" id="name" name="name"></label><br>
    <label>Email: <input type="string" id="email" name="email"></label><br>
    <label>Password: <input type="string" id="password" name="password"></label><br>
    <input type="submit" value="Sign Up" id="Sign Up">
</form>
